{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>cart</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">action</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                        <tbody>
                      
                        </tbody>
                        <tbody>
                            <tr>
                                {% for item in cartitems %}

                                <td>
                                    {% if item.product_version_id.get_images %}

                                    
                                    {% for img in item.product_version_id.image_set.all %}

                                    {% if img.is_main %}

                                    <a href="#">
                                        <img src="/media/{{ img.image }}" alt=""></a>

                                    {% endif %}

                                    {% endfor %}


                                    {% else %}
                                    
                                    {% for img in item.product_version_id.related_pic %}

                                    <a href="#">
                                        <img src="/media/{{ img.image }}" alt=""></a>
                                    
                                    {% endfor %}

                                    {% endif %}
                                

                                </td>
                                <td><a href="#"> <h3 style="color: black"> {{ item.product_version_id.title }} {% if item.product_version_id.size %} size: {{item.product_version_id.size}} {% endif %}</h3></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="number" name="quantity"
                                                        class="form-control input-number" value={{item.quantity}} >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">$6355.00</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="#" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2> ${{ item.product_version_id.price }} </h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number"
                                                value={{item.quantity}}>
                                        </div>
                                    </div>
                                </td>

                                <form method="POST" action="{% url 'delete-from-cart' %}">
                                    {% csrf_token %}
                                    <td><a href="#" class="icon">
                                    
                                    <button type="submit">    <i class="ti-close"></i> </button>  </a></td>
                                    <input type="hidden" name="item-id" value="{{ item.id }}" >
                                </form>
                                <td>
                                    <h2 class="td-color">${{item.subtotal}}</h2>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                            <tr>
                                <td>total price :</td>
                                <td>
                                    <h2>${{ cart.grandtotal }}</h2>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row cart-buttons">
                <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="{% url 'checkout' %}" class="btn btn-solid">check out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->

{% endblock %}
