{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>wishlist</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">wishlist</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="wishlist-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">availability</th>
                                <th scope="col">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for item in items %}
                                {% if item.product_version_id.get_images %}

                                {% for img in item.product_version_id.get_images %}

                                <td>
                                    <a href="{{ item.product_version_id.get_absolute_url }}"><img src="/media/{{ img.image }}" alt=""></a>
                                </td>

                                {% endfor %}

                                {% else %}

                                {% for img in item.product_version_id.related_pic %}

                                <td>
                                    <a href="#"><img src="/media/{{ img.image }}" alt=""></a>
                                </td>

                                {% endfor %}

                                {% endif %}

                                <td><a href="{{ item.product_version_id.get_absolute_url }}"> {{item.product_version_id.title}} </a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <p>in stock</p>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">${{item.product_version_id.price}}</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="#" class="icon mr-1"><i class="ti-close"></i>
                                                </a><a href="#" class="cart"><i class="ti-shopping-cart"></i></a></h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>${{item.product_version_id.price}}</h2>
                                </td>
                                {% if item.product_version_id.stock %}
                                <td>
                                    <p>in stock</p>
                                </td>
                                {% else %}
                                <td>
                                    <p> expired.. </p>
                                </td>  
                                {% endif %} 
                                <td>
                                    <form method="POST" action="{% url 'delete-from-wishlist' %}"> 
                                    {% csrf_token %}    
                                        <a href="#" class="icon mr-3">  
                                            <input type="hidden" name="item-id" value="{{ item.id }}" >
                                            
                                            <button type="submit"> <i class="ti-close"></i> </button>
                                        </a>
                                    </form>

                                    <br>
                                    
                                    <form action="" action="#"> 
                                        <a href="#" class="cart"><i class="ti-shopping-cart"></i>   </a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                       
                    </table>
                </div>
            </div>
            <div class="row wishlist-buttons">
                <div class="col-12"><a href="#" class="btn btn-solid">continue shopping</a> <a href="#"
                        class="btn btn-solid">check out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->


    {% endblock %}
