
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>search</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">search</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="authentication-page">
        <div class="container">
            <section class="search-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <form method="get" class="form-header" action="/search">
                                <div class="input-group">
                                    <input name="k" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                        placeholder="Search Products......">
                                    <div class="input-group-append">
                                        <button class="btn btn-solid" type="submit"><i class="fa fa-search"></i>Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- section end -->

    
    <!-- product section start -->
    <section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row search-product">
                
        <h3 class="my-4 border-bottom pb-1" style="color:black" > <span class="text-muted" > Search result for </span>  {{request.GET.k}} </h3> 
                    <div class="row margin-res">
                        {% for product in products %}
                        <div class="col-xl-3 col-6 col-grid-box">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="front">
            
                                        <a href="{{ product.main_version.product_id.get_absolute_url }}"> <img src="{{ product.main_image.image.url }}"class="img-fluid blur-up lazyload bg-img" alt="">
                                        </a>
            
                                    </div>
                                    <div class="back">
                                        <a href="#"><img src="../assets/images/pro3/36.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i
                                                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i
                                                class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="product-detail">
                                    <div>
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>
                                                {{product.title}}
                                            </h6>
                                        </a>
                                        <p>
                                            {{product.product_id.description}}
                                        </p>
                                        <h4>{{product.price}}</h4>
                                        <ul class="color-variant">
                                          
                                            {% for value in product.property_value.all %}
                                            <li class="bg-light1" style="background-color: {{value.name}}"></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>      
            </div>
        </div>
    </section>
    <!-- product section end -->

    {% endblock %}
