{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
{% endblock %}


{% block content %}


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>customer's login</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="login-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Password Change</h3>
                    <div class="theme-card">
                        <form action="" method="POST" class="theme-form">
                            {% csrf_token %}
                            <div class="form-group">
                            
                                <!-- <input type="text" class="form-control" id="email" placeholder="Email" required=""> -->
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="review">New Password</label>
                                <!-- <input type="password" class="form-control" id="review"
                                    placeholder="Enter your password" required=""> -->
                                {{ form.new_password1}}
                                <ul>
                                    {% for error in form.new_password1.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="form-group">
                                <label for="review">Confirm Password</label>
                                <!-- <input type="password" class="form-control" id="review"
                                    placeholder="Enter your password" required=""> -->
                                {{ form.new_password2}}
                                <ul>
                                    {% for error in form.new_password2.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <!-- <a href="#" class="btn btn-solid">Login</a> -->

                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-solid">Reset</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-6 right-login">
                    <h3>New Customer</h3>
                    <div class="theme-card authentication-right">
                        <h6 class="title-font">Create A Account</h6>
                        <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be
                            able to order from our shop. To start shopping click register.</p><a href="#"
                            class="btn btn-solid">Create an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

{% endblock %}
