{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--section start-->
    <section class="contact-page section-b-space">
        <div class="container">
            <div class="row section-b-space">
                <div class="col-lg-7 map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1605.811957341231!2d25.45976406005396!3d36.3940974010114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1550912388321"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <div class="contact-right">
                        <ul>
                            <li>
                                <div class="contact-icon"><img src="../static/images/icon/phone.png"
                                        alt="Generic placeholder image">
                                    <h6>Contact Us</h6>
                                </div>
                                <div class="media-body">
                                    <p>+91 123 - 456 - 7890</p>
                                    <p>+86 163 - 451 - 7894</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p>ABC Complex,Near xyz, New York</p>
                                    <p>USA 123456</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><img src="../static/images/icon/email.png"
                                        alt="Generic placeholder image">
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p>Support@Shopcart.com</p>
                                    <p>info@shopcart.com</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><i class="fa fa-fax" aria-hidden="true"></i>
                                    <h6>Fax</h6>
                                </div>
                                <div class="media-body">
                                    <p>Support@Shopcart.com</p>
                                    <p>info@shopcart.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST" class="theme-form">
                        {% csrf_token %}
                        <div class="form-row">

                            <div class="col-md-6">
                                <label for="name">First Name</label>
                                {{ form.first_name}}
                                <ul>
                                    {% for error in form.first_name.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Last Name</label>
                                {{ form.last_name}}
                                <ul>
                                    {% for error in form.last_name.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Phone Number</label>
                                {{ form.phone_number}}
                                <ul>
                                    {% for error in form.phone_number.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Email</label>
                                {{ form.email}}
                                <ul>
                                    {% for error in form.email.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Write Your Message</label>
                                {{ form.message}}
                                <ul>
                                    {% for error in form.message.errors %}
                                        <li class="alert-danger">{{error}}</li>
                                    {% endfor %}
                                </ul>
                            </div>  
                            <!-- {% csrf_token %}
                            {% for field in form %}
                                <div class="col-md-6">
                                    {{field.label_tag}}
                                    {{field}}
                                    <ul>
                                    {% for error in field.errors %}
                                        <li class="alert-denger">{{error}}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %} -->
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit">Send Your Message</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </section>
    <!--Section ends-->

{% endblock %}
